<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MyModule_Label::label" title="Label Manage" sortOrder="40">
                    <resource id="MyModule_Label::save" title="Save Label" sortOrder="10" />
                    <resource id="MyModule_Label::delete" title="Delete Label" sortOrder="20" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MyModule_Label::label_config" title="Label" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>